.photoContainer{
    margin: 8px;
    max-width:100%;
    display:flex;
    flex-direction:column;
    transition: transform 300ms linear;
    cursor: pointer;
}
.photoTitle{
    margin:100% 0 8px;
    padding: 8px;
    font-size: 0.5rem;
    color: white;
    align-self: center;
    position: absolute;
}
